replicaCount: 1

metadata:
  labels:
    environment: dev

image:
  repository: bahmni/openmrs
  tag: 0.94-16

service:
  type: LoadBalancer
  port: 8080

config:
  DB_AUTO_UPDATE: true
  DB_CREATE_TABLES: false
  DB_NAME: openmrs
  DEBUG: false
  MODULE_WEB_ADMIN: false
  OPENELIS_HOST: openelis
  OPENELIS_PORT: '8052'

secrets:
  DB_HOST: ""
  DB_USERNAME: ""
  DB_PASSWORD: ""
  OPENELIS_ATOMFEED_USER: ""
  OPENELIS_ATOMFEED_PASSWORD: ""

resources:
  requests:
    memory: "4Gi"
  limits:
      memory: "5Gi"

autoscaling:
  enabled: false
#  minReplicas: 1
#  maxReplicas: 5
#  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80
