openmrs.auth.uri=http://${OPENMRS_HOST}:${OPENMRS_PORT}/openmrs/ws/rest/v1/session
openmrs.root.uri=http://${OPENMRS_HOST}:${OPENMRS_PORT}/openmrs/ws/rest/v1
openmrs.user= ${OPENMRS_ATOMFEED_USER}
openmrs.password= ${OPENMRS_ATOMFEED_PASSWORD}
openmrs.connectionTimeoutInMilliseconds=10000
openmrs.replyTimeoutInMilliseconds=20000