name: Build and Publish OpenMRS
on:
  push:
    branches: [master]
    paths-ignore:
      - "**.md"
      - ".github/workflows/build_publish_openmrs_freshDB.yml"
      - ".github/workflows/build_publish_openmrs_demoDB.yml"
      - "package/docker/demoDB/**"
      - "package/docker/freshDB/**"

  repository_dispatch:
    types: ["default-config-trigger"]

env:
  BAHMNI_VERSION: 0.94
jobs:
  docker-build-publish:
    name: Docker Build & Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Maven
        run: |
          ./mvnw clean install
        env:
          USER_NAME: ${{ secrets.USERNAME }}
          ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Download default_config.zip
        run: sh .github/download_artifact.sh default-config default_config ${{secrets.BAHMNI_PAT}}
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Docker Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: package/docker/openmrs/Dockerfile
          push: true
          tags: bahmni/openmrs:${{env.BAHMNI_VERSION}}-${{github.run_number}},bahmni/openmrs:latest

